In [1]:
import sqlite3

In [2]:
# connecting to the database, if the database is not there it will be created 
db = sqlite3.connect("company_database")

In [3]:
# to execute the sql commands one needs create the cursor object
c = db.cursor()

In [4]:
# create a table
c.execute("CREATE TABLE IF NOT EXISTS company1(id int, name text, age int, address text, salary float)")

In [5]:
# insert data into the table that has been created
c.execute("INSERT INTO company1 VALUES(1, 'naivas', 5, 'Nairobi', 50000)")

In [6]:
c.execute("INSERT INTO company1 VALUES(2, 'Uchumi', 7, 'Kikuyu', 30000)")

In [7]:
# fetching the data from the database
data = c.execute("SELECT * FROM company1")

In [8]:
# iterating the data that has been obtaoned from the query
for i in data:
    print(i)

(1, 'naivas', 5, 'Nairobi', 50000.0)
(2, 'Uchumi', 7, 'Kikuyu', 30000.0)
(1, 'naivas', 5, 'Nairobi', 50000.0)
(2, 'Uchumi', 7, 'Kikuyu', 30000.0)
(1, 'naivas', 5, 'Nairobi', 50000.0)
(2, 'Uchumi', 7, 'Kikuyu', 30000.0)
(1, 'naivas', 5, 'Nairobi', 50000.0)
(2, 'Uchumi', 7, 'Kikuyu', 30000.0)

In [9]:
# save (commit) the changes
db.commit()

In [10]:
# closing the database so that to make sure that the changes have been commited
# db.close()

In [11]:
# Opening the database onec again
db = sqlite3.connect("company_database")

In [12]:
# inserting data into the table company1
c.execute("INSERT INTO company1 VALUES(3, 'Clean shelf', 10, 'Limuru', 150000)")
c.execute("INSERT INTO company1 VALUES(4, 'Self Ridges', 6, 'Wangige', 60000)")
c.execute("INSERT INTO company1 VALUES(5, 'Magunas', 4, 'Chuka', 90000)")

## some data filtering operations

In [13]:
data = c.execute("SELECT * FROM company1 WHERE salary > 70000")

In [14]:
for i in data:
    print(i)

(3, 'Clean shelf', 10, 'Limuru', 150000.0)
(5, 'Magunas', 4, 'Chuka', 90000.0)

In [15]:
data = c.execute("SELECT * FROM company1 WHERE address = 'Wangige'")

In [16]:
for i in data:
    print(i)

(4, 'Self Ridges', 6, 'Wangige', 60000.0)

In [18]:
data = c.execute("SELECT id, name FROM company1 order by name")

In [19]:
for i in data:
    print(i)

(3, 'Clean shelf')
(5, 'Magunas')
(4, 'Self Ridges')
(2, 'Uchumi')
(2, 'Uchumi')
(2, 'Uchumi')
(2, 'Uchumi')
(1, 'naivas')
(1, 'naivas')
(1, 'naivas')
(1, 'naivas')

In [22]:
data = c.execute("SELECT * FROM company1 ORDER BY age DESC")

In [23]:
for i in data:
    print(i)

(3, 'Clean shelf', 10, 'Limuru', 150000.0)
(2, 'Uchumi', 7, 'Kikuyu', 30000.0)
(2, 'Uchumi', 7, 'Kikuyu', 30000.0)
(2, 'Uchumi', 7, 'Kikuyu', 30000.0)
(2, 'Uchumi', 7, 'Kikuyu', 30000.0)
(4, 'Self Ridges', 6, 'Wangige', 60000.0)
(1, 'naivas', 5, 'Nairobi', 50000.0)
(1, 'naivas', 5, 'Nairobi', 50000.0)
(1, 'naivas', 5, 'Nairobi', 50000.0)
(1, 'naivas', 5, 'Nairobi', 50000.0)
(5, 'Magunas', 4, 'Chuka', 90000.0)

## Table drop

In [25]:
import sqlite3
db = sqlite3.connect("food")

In [26]:
# cursor to execute the sqlite commands
c = db.cursor()

In [28]:
# creating a table
c.execute("CREATE TABLE food1(name text, calories int)")

In [30]:
# inserting data into the database
c.execute("INSERT INTO food1 values('banana', 20)")
c.execute("INSERT INTO food1 values('mango', 30)")
c.execute("INSERT INTO food1 values('grapes', 5)")

In [31]:
# fetching all the data from the database
data = c.execute("SELECT * FROM food1 ORDER BY calories")
for i in data:
    print(i)

('grapes', 5)
('banana', 20)
('mango', 30)

In [32]:
c.execute("DROP TABLE food1")