In [1]:
# tuples
a = ()
type(a)

tuple

In [2]:
a = (1,2,3,6,"evans", (4+7j))
a[-1]
a[::-1] # reversing a tuple
a[0:4:2]
len(a)

6

In [3]:
# length
l = [1, 2, 3, 6, 'evans', (4+7j), 6, "mom"]
l[2] = "dad"
print(l)

# tuple
t = (3,5,6,"kezz", "lucy", 23)
t[3]
t[3] = "mercy"

[1, 2, 'dad', 6, 'evans', (4+7j), 6, 'mom']

TypeError: 'tuple' object does not support item assignment

In [ ]:
# immutable elements eg strings and tuples
name = "evans"
name[1]

In [ ]:
name[1] = 'k'

In [ ]:
# iterating in tuples
t = (1,2,3,4,5,6)

for i in t:
    print(i)

In [ ]:
t = (9, 32, 3, 64, 5, 56)

for i in range(len(t)):
    print(t[i])

In [ ]:
# a tuple have only two inbuild functions, that is count and the index
t = (3,5,7,8,5,3,2,4,2,4,2,1,5)
t.count(2)

In [ ]:
t.index(2)

In [ ]:
# concatenation in tuples
t = (1,2,5,3)
t1 = ("dog", "cat")
a = t+t1
a

In [ ]:
#inserting data into a tuple
t = (1,2,3,4)
# insert "evans" in the second index
l = list(t)
l.insert(2, "evans")
print(f"list = {l}")
t=tuple(l)
print(t)

In [ ]:
# set
s = set([1,3,5,4,2,6,4,2,6,8,0,2,3,4, "evans", (4+7j), "kiarie"])
print(s)
set()

In [ ]:
for i in s:
    print(i)

In [ ]:
s = set([(4+7j), 0, 1, 2, 3, 4, 5, 6, 8, 'evans', 'kiarie'])
l = list(s)
l[0] = "mom"
l

In [ ]:
b={}
type(b)

In [ ]:
b={1}
type(b)

In [ ]:
b={1,2,3,1,5,6,1,2,3}
b

In [ ]:
# methods in a data set
b={1,2,3,1,4,2,3}
b
b.add("mom")
b

In [ ]:
b.pop()
b

In [ ]:
a = {1,234,2,539,4,5,3,111,"abc", "##"}
a

## Dictionary

In [ ]:
# duplicates in a dictonary are not allowed
d = {"name":"Evans",
    "age":22,
    "name":"kezz"}
d # since name has been duplicated the most recent key of the word name is used

In [ ]:
# sets, tuples, dictonaries and lists are allowed as values
d = {"key":{3,4,5,1,2,3,3},  # set
     "key1":(2,3,3,2,1,4),   # tuple
    "key2":{'name':'evans',  # dictonary
           "age":22,
           "school":"chuka"},
    "key3":[2,4,5,"cat", [306, 199,350],"mom"]}   # list
d

In [ ]:
# accessing elements in a dictonary
d['key2']

In [ ]:
d['key3'][4][1]

In [ ]:
d['key2']['age']

In [ ]:
d

In [ ]:
for key, value in d.items():
    print(key,value)

In [ ]:
for key in d:
    print(d[key])

In [ ]:
# printing only the keysb
d.keys()

In [ ]:
# printing only the values
d.values()

In [ ]:
# printing the entire dictonary
d.items()

In [ ]:
d.get("key4", "key4")

In [ ]:
for i in d.keys():
    print(d[i])

In [ ]:
dictionary = {"key":{3,4,5,1,2,3,3},  # set
     "key1":(2,3,3,2,1,4),   # tuple
    "key2":{'name':'evans',  # dictonary
           "age":22,
           "school":"chuka"},
    "key3":[2,4,5,"cat", [306, 199,350],"mom"]}   # list

# extracting the values from a tuple
m = []
for i in dictionary.values():
    if type(i) == tuple:
        i = list(i)
        for a in i:
            m.append(a)
        
print(m)

In [ ]:
# adding a value into a dictonary
d.update({"course":"comp science"})
d

In [ ]:
d["key5"] = "python"
d

In [20]:
d = {}
for i in range(10):
    d.update({i : i**2})

for key, value in d.items():
    print(key, value)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [12]:
print(dictionary)

{3: 9}

In [23]:
# list comprehension
{i:i**2   for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [25]:
# getting upper case for the values and the key remain in lowercase
l = ["mom", "dad", "cat", "dog"]
d = {}
for i in l:
    d[i] = i.upper()
d

{'mom': 'MOM', 'dad': 'DAD', 'cat': 'CAT', 'dog': 'DOG'}

In [26]:
l = ["kezz", "lucy", "evans", "jane"]
{i:i.upper() for i in l}

{'kezz': 'KEZZ', 'lucy': 'LUCY', 'evans': 'EVANS', 'jane': 'JANE'}