In [12]:
i = 10
print(type(i))

<class 'int'>

In [65]:
# creating a class
class Person: 
    pass

In [66]:
p_1 = Person

In [23]:
print(person_1)

<class '__main__.Person'>

In [67]:
p_1 = Person
p_1.name="Evans"
p_1.age=22
p_1.yob = 2001

In [68]:
p_1.name  # name is an attribute of the class person

'Evans'

In [69]:
p_1.age

22

In [70]:
# creating another object
p_2  = Person()
p_2.name = "kezz"
p_2.yob = 2013
p_2.gender = "Female"

In [71]:
p_2.name

'kezz'

In [72]:
p_1.yob

2001

## best approach

In [55]:
class Person:
    def __init__(self, name, surname, age, gender):
        self.name = name
        self.surname = surname
        self.age = age
        self.gender = gender
        
    def __str__(self):
        return "my name is %s %s. i am %d years old, and am a %s" %(self.name, self.surname, self.age, self.gender)

In [56]:
# creating an object
person_1 = Person("evans", "Njoroge", 22, "m")
person_1.surname
print(person_1)

my name is evans Njoroge. i am 22 years old, and am a m

In [36]:
# creating another object
person_2  = Person("kezz", "Wanjiku", 11, "f")
person_2.gender

'f'

In [51]:
# creating a class of erea
class Shapes:
    def __init__(self, length, width, heigth):
        self.length = length
        self.width = width
        self.heigth = heigth
        
    def sqr_area(self, side_length):
        return self.length * self.length
    
    def volume(self, length, width, heigth):
        return self.length * self.width * self.heigth
    
    def rec_area(self, length, width):
        return self.length * self.width
    
# creating an object


square = Shapes(4,4,4)
square.sqr_area(4)

# rectangle
rectangle = Shapes(8, 4, 6)
rectangle.rec_area(8, 4)

#rec volume
rectangle.volume(8,4,6)

192

## Abstraction

In [75]:
# protected
class Student:
    def __init__(self, name, surname, age):
        self._name = name  # because there is an underscore this abstraction
        self._surname = surname
        self._age = age
        
# object
student_1 = Student("Daniel", "Thathi", 23)
student_1._name # here there is an underscore

'Daniel'

In [77]:
# how a class tries to store a class varible
student_1.__dict__

{'_name': 'Daniel', '_surname': 'Thathi', '_age': 23}

In [81]:
# private is annoted by a souble underscore
class Animal:
    def __init__(self, name, age, backbone):
        self.__name = name # private because of a double underscore
        self._age = age
        self._backbone = backbone
        
# object
lion = Animal("lion", 6, "verterbrade")

In [82]:
lion.__dict__

{'_Animal__name': 'lion', '_age': 6, '_backbone': 'verterbrade'}

In [84]:
lion._Animal__name

'lion'

## inheritance

In [104]:
class Person:
    def __init__(self, name, surname, age):
        self.name = name
        self.surname = surname
        self.age = age
class Teacher(Person):
    def __init__(self , teacher_no , subject, gender, *args):
        super(Teacher, self).__init__(*args)
        # initialize the class varibles in the teachers class
        self.teacher_no = teacher_no
        self.subject = subject
        self.gender = gender
       
    
#object
teacher_1 = Teacher(1213, "maths", "M", "evans", "njoroge", 22)
teacher_1.name
#person_1 = Person("evans", "njoroge", 22)
#person_1.name

TypeError: __init__() missing 3 required keyword-only arguments: 'teacher_no', 'subject', and 'gender'