In [1]:
import sqlite3

In [2]:
c = sqlite3.connect("xyz")

In [4]:
c.execute("drop table if exists abc")

In [5]:
c.execute("create table abc(id int, name text, scoring int)")

In [9]:
c.execute('insert into abc(id, name, scoring) values(19, "evans", 10)')

In [10]:
c.commit()

In [11]:
c.execute('insert into abc(id, name, scoring) values(20, "kezz", 20)')
c.execute('insert into abc(id, name, scoring) values(21, "lucy", 56)')
c.execute('insert into abc(id, name, scoring) values(22, "dad", 59)')
c.execute('insert into abc(id, name, scoring) values(23, "mom", 77)')
c.execute('insert into abc(id, name, scoring) values(24, "george", 65)')
c.execute('insert into abc(id, name, scoring) values(25, "jane", 33)')
c.execute('insert into abc(id, name, scoring) values(26, "kyle", 12)')

In [13]:
c.commit()

In [17]:
list(c.execute("select * from abc"))

[(19, 'evans', 10),
 (19, 'evans', 10),
 (20, 'kezz', 20),
 (21, 'lucy', 56),
 (22, 'dad', 59),
 (23, 'mom', 77),
 (24, 'george', 65),
 (25, 'jane', 33),
 (26, 'kyle', 12)]

In [20]:
for i in c.execute("select * from abc order by scoring asc"):
    print(i)

(19, 'evans', 10)
(19, 'evans', 10)
(26, 'kyle', 12)
(20, 'kezz', 20)
(25, 'jane', 33)
(21, 'lucy', 56)
(22, 'dad', 59)
(24, 'george', 65)
(23, 'mom', 77)

In [22]:
list(c.execute("select * from abc where name='kyle'"))

[(26, 'kyle', 12)]

In [24]:
list(c.execute("select id, name from abc where name='jane'"))

[(25, 'jane')]