##build in functions

In [4]:
name = "evans"
a = name * 10
a

'evansevansevansevansevansevansevansevansevansevans'

In [10]:
l = [1, 2, 3, "a", "b"]
m = l * 3
m

[1, 2, 3, 'a', 'b', 1, 2, 3, 'a', 'b', 1, 2, 3, 'a', 'b']

In [13]:
name = "evans kiarie"
name.count("e")
name

'evans kiarie'

In [17]:
name = name.upper()
name

'EVANS KIARIE'

In [18]:
name = name.lower()
name

'evans kiarie'

In [19]:
# split
description = "my name is evans njoroge"
description.split()

['my', 'name', 'is', 'evans', 'njoroge']

In [25]:
description[1]

'y'

In [26]:
description = "my@age@is@17@years"
description.split('@')

['my', 'age', 'is', '17', 'years']

In [30]:
# partition
school = "chuka university kenya"
school.partition('u')

('ch', 'u', 'ka university kenya')

In [33]:
# find
a = "wserxcyvcbzjkvjksdolk"
a.find('xc')

4

In [36]:
# center
name = "EVANS"
name.center(50,"z")

'zzzzzzzzzzzzzzzzzzzzzzEVANSzzzzzzzzzzzzzzzzzzzzzzz'

In [40]:
name = "evans\tkiarie\tnjoroge"
name.expandtabs()

'evans   kiarie  njoroge'

In [43]:
# format()
age = input("what is your age: ")
print("your age is {}".format(age))

what is your age: 22
your age is 22

In [49]:
fname = input("what is your first name: ")
mname = fname + "\t" + "kiarie"
mname = mname.split()
mname = mname[1]
lname = input("what is your last name")

print("you name is {} {} {}".format(fname, mname, lname) )
print(mname)

what is your first name: evans
what is your last namenjoroge
you name is evans kiarie njoroge
kiarie

In [50]:
# is
s = "4353gfh"
s.isalnum()

True

In [51]:
s = " Computer"
s.istitle()

True