# loops

In [1]:



l = [1,24,45,67,8,9, 8, 9, 2, 2, 2, 1, 24, 45]
numbers = []
for i in l:
    if numbers.count(i) == 0:
        numbers.append(i)
        
numbers

numbers.insert(2, 60)
numbers

[1, 24, 60, 45, 67, 8, 9, 2]

In [2]:
numbers = [2,3,4,5,5,6,7,7,2]
uniques = []
for number in numbers:
    if number not in uniques:
        uniques.append(number)
print(uniques)

[2, 3, 4, 5, 6, 7]

In [3]:
l = [1,2,3,57,9,4,2,5]

for i in range(len(l)):
    print(l[i])

1
2
3
57
9
4
2
5

In [4]:
m =[]
for i in l:
    if i>10:
        m.append(i)
print(m)

[57]

In [5]:
list = [1,25,7,9, "evans", "kiarie"]
m = []
for i in list:
    if type(i) == str:
        m.append(i)
print(m)

['evans', 'kiarie']

In [6]:
# using a for loop with an else statement
l = [1,2,4]
for i in l:
    print(i)
else:
    print("Nothing left in this collection")

1
2
4
Nothing left in this collection

In [7]:
# while loop
d = 10
s = 0
i = 1

while d >= i:
    s = i + s
    i += 1
    
print(s)

55

In [8]:
# using  a break
for i in "kiarie":
    if i == "k":
        break
    print(i)
else:
    print("the iteration was able to complete")
    
print("out of this loop")

out of this loop

In [9]:
# using a continue 
for x in "kiarie":
    if x=="r":
        continue
    print(x)

k
i
a
i
e

In [10]:
# taking commands from a command line
name = input()
type(name)

y

str

In [11]:
# taking commands from a command line
age = input()
type(age)

45

str

In [12]:
age = int(input())

22

In [13]:
type(age)

int

In [16]:
# concatenation
name = "evans" + " " + "kiarie"
print(name)

evans kiarie

In [18]:
l=[1,2,3,4,5]
m=[1,2,3,4,5]
final_list = l+m
final_list

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]