In [1]:
import pymongo

In [2]:
DEFAULT_CONNECTION_URL = "mongodb+srv://kyleEvans:QvDQ4xXcl6FejOvE@cluster0.xib4gub.mongodb.net/test?retryWrites=true&w=majority"


# establish a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)
client

C:\ProgramData\Anaconda3\lib\site-packages\cryptography\x509\base.py:521: CryptographyDeprecationWarning: Parsed a negative serial number, which is disallowed by RFC 5280.
  return rust_x509.load_der_x509_certificate(data)

MongoClient(host=['ac-ahoffj1-shard-00-00.xib4gub.mongodb.net:27017', 'ac-ahoffj1-shard-00-02.xib4gub.mongodb.net:27017', 'ac-ahoffj1-shard-00-01.xib4gub.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-akheel-shard-0', tls=True)

In [3]:
# creating a database in mongodb
db_name = "companies"
database = client[db_name]
database

Database(MongoClient(host=['ac-ahoffj1-shard-00-00.xib4gub.mongodb.net:27017', 'ac-ahoffj1-shard-00-02.xib4gub.mongodb.net:27017', 'ac-ahoffj1-shard-00-01.xib4gub.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-akheel-shard-0', tls=True), 'companies')

In [4]:
# seeing the list of databases that are currently available
# the database that has been created "companies" wont be shown here coz it has no collections which are simply tables in sql
client.list_database_names()

['admin', 'local']

In [5]:
# creating a function to check whether the database exists
def check_db_exists(db_name):
    # this function will check if the db provided is present
    if db_name in client.list_database_names():
        print(f"{db_name} is present in mongodb")
        return True
    print(f"{db_name} is not present")
    return False
    
check_db_exists("companies")

companies is not present

False

In [6]:
check_db_exists("demoDB")

demoDB is not present

False

## creating a collection inside the database

In [7]:
collection_name = 'Super markets'
collection = database[collection_name]
collection

Collection(Database(MongoClient(host=['ac-ahoffj1-shard-00-00.xib4gub.mongodb.net:27017', 'ac-ahoffj1-shard-00-02.xib4gub.mongodb.net:27017', 'ac-ahoffj1-shard-00-01.xib4gub.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-akheel-shard-0', tls=True), 'companies'), 'Super markets')

In [8]:
# lets now check whether after inserting a collection the database will be displayed 
check_db_exists("companies")

companies is not present

False

In [9]:
# creating a function that will check whether a collection exists
def check_col_exists(collection):
    col_list = database.list_collection_names()
    if collection in col_list:
        print(f"{col_list} exists inside the database")
        return True
    print(f"{col_list} does not exist inside the database")
    return False

# calling the function
check_col_exists('Super markets')

[] does not exist inside the database

False

# the collection of {Super market} is not printed because it does not contain any data in it

## inserting data in the collection

In [10]:
# a row to be inserted
my_row = {
    "name" : "cleanshelf",
    "location" : "Limuru",
    "Age" : 10
}

In [11]:
# if an id has been generated then the data has been succesfully inserted
collection.insert_one(my_row)

In [12]:
# inserting multiple records
my_rows = [
    {
    "name" : "magunas",
    "location" : "Chuka",
    "Age" : 4
    },
    {
        "name" : "Self ridges",
        "location" : "Kikuyu",
        "Age" : 12
    },
    {
        "name" : "Wamakumi",
        "location" : "Wangige",
        "Age" : 6
    }
]

In [13]:
x = collection.insert_many(my_rows)
x

In [14]:
# getting the ids of the inserted data
x.inserted_ids

[ObjectId('63ffa560af59c6b1d74f5e7f'),
 ObjectId('63ffa560af59c6b1d74f5e80'),
 ObjectId('63ffa560af59c6b1d74f5e81')]

In [15]:
# verify if the database exist
check_db_exists("companies")

companies is present in mongodb

True

In [16]:
# verify if the collection suoermarket exist
check_col_exists('Super markets')

['Super markets'] exists inside the database

True

In [17]:
# changing the schema of the database by inserting a data which is not related to other data
row = {
    'student' : "Njoroge",
    'course' : 'mechanic',
    "age" : 5
}

In [18]:
collection.insert_one(row)

In [19]:
# inserting multiple records
my_rows = [
    {
    "name" : "magunas",
    "location" : "Chuka",
    "Age" : 4
    },
    {
        "name" : "Self ridges",
        "location" : "Kikuyu",
        "Age" : 12
    },
    {
        "name" : "Wamakumi",
        "location" : "Wangige",
        "Age" : 6
    }
]

x = collection.insert_many(my_rows)
x

In [20]:
for idx, unique_ids in enumerate(x.inserted_ids):
    print(f"{idx}. {unique_ids}")

0. 63ffa564af59c6b1d74f5e83
1. 63ffa564af59c6b1d74f5e84
2. 63ffa564af59c6b1d74f5e85

## creating another collection

In [21]:
collection_name = "student"
collection = database[collection_name]
collection

Collection(Database(MongoClient(host=['ac-ahoffj1-shard-00-00.xib4gub.mongodb.net:27017', 'ac-ahoffj1-shard-00-02.xib4gub.mongodb.net:27017', 'ac-ahoffj1-shard-00-01.xib4gub.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-akheel-shard-0', tls=True), 'companies'), 'student')

In [22]:
# inserting data with my own ids instead of using the generated ids
my_rows = [
    {
        '_id' : 1,
        'name' : 'njoroge',
        'class' : 8,
        'course' : 'mechanics'
        
    },
    {
        '_id' : 2,
        'name' : 'kyle',
        'class' : 6,
        'course' : 'computer science'
        
    },
    {
        '_id' : 4,
        'name' : 'kalucy',
        'class' : 4,
        'course' : 'fashion and design'
        
    },
]

In [23]:
# inserting this records into the collection named students
x = collection.insert_many(my_rows)
x

In [24]:
# checking the id's of the records that have been generated
for idx, my_own_idx in enumerate(x.inserted_ids):
    print(f"{idx} : {my_own_idx}")

0 : 1
1 : 2
2 : 4


## 5. find method in mongo db

In [25]:
collection.find_one()

{'_id': 1, 'name': 'njoroge', 'class': 8, 'course': 'mechanics'}

In [26]:
for idx, data in enumerate(collection.find({})):
    print(f"{idx}. {data}")

0. {'_id': 1, 'name': 'njoroge', 'class': 8, 'course': 'mechanics'}
1. {'_id': 2, 'name': 'kyle', 'class': 6, 'course': 'computer science'}
2. {'_id': 4, 'name': 'kalucy', 'class': 4, 'course': 'fashion and design'}

In [27]:
# finding the results only for "course" column
course_data = collection.find({}, {'course'})
for data in (course_data):
    print(f"{data}")

{'_id': 1, 'course': 'mechanics'}
{'_id': 2, 'course': 'computer science'}
{'_id': 4, 'course': 'fashion and design'}

## 6.query or filter out the data in mongoDB

In [28]:
query = {'_id' : 1}
results = collection.find(query)

In [29]:
for result in results:
    print(result)

{'_id': 1, 'name': 'njoroge', 'class': 8, 'course': 'mechanics'}

In [30]:
# greater than
query = {'_id' : {'$gt' : 2}}
results = collection.find(query)

In [31]:
for result in results:
    print(result)

{'_id': 4, 'name': 'kalucy', 'class': 4, 'course': 'fashion and design'}

## delete one or many records from the database

In [32]:
query={'_id' : 1}
x = collection.delete_one(query)
x

In [33]:
x.deleted_count

1

In [34]:
query2 = {'_id' : {"$gte" : 4}}
x = collection.delete_many(query2)
x.deleted_count

1

## 8. Dropping the whole collection

In [35]:
collection_to_drop = database['student']
x = collection_to_drop.drop()
x

## 9.update

In [36]:
# creating a collection
collection = database['courses']
collection

Collection(Database(MongoClient(host=['ac-ahoffj1-shard-00-00.xib4gub.mongodb.net:27017', 'ac-ahoffj1-shard-00-02.xib4gub.mongodb.net:27017', 'ac-ahoffj1-shard-00-01.xib4gub.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-akheel-shard-0', tls=True), 'companies'), 'courses')

In [37]:
# inserting the data to the colection
row = {
    "name" : " comp science",
    "unit" : "cosc 402",
    "lecturer" : "mr muthegi"
}
collection.insert_one(row)

In [38]:
update_criteria = {'lecturer': 'mr muthegi'}
update_value = {'$set': {'lecturer': 'madam ghaki'}}

collection.update_many(update_criteria, update_value)

In [39]:
# updating the values of the lecture
update_criteria = {'lecturer' : 'mr muthegi'}
new_value = {'$set' : {'lecturer' : "madam ghaki"}}

collection.update_many(update_criteria, new_value)

## 10.set the limit to view the records

In [40]:
 for i in collection.find({}):
        print(i)

{'_id': ObjectId('63ffa569af59c6b1d74f5e86'), 'name': ' comp science', 'unit': 'cosc 402', 'lecturer': 'madam ghaki'}

In [41]:
for i in collection.find({}).limit(1):
    print(i)

{'_id': ObjectId('63ffa569af59c6b1d74f5e86'), 'name': ' comp science', 'unit': 'cosc 402', 'lecturer': 'madam ghaki'}

## 11. creating another collection

In [43]:
collection_name = "sports"
collection = database[collection_name]
collection

Collection(Database(MongoClient(host=['ac-ahoffj1-shard-00-00.xib4gub.mongodb.net:27017', 'ac-ahoffj1-shard-00-02.xib4gub.mongodb.net:27017', 'ac-ahoffj1-shard-00-01.xib4gub.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-akheel-shard-0', tls=True), 'companies'), 'sports')

In [45]:
# inserting  data into the collection
row = {
    "sport's name" : "football",
    "player" : "Ronaldo",
    "age" : 39  
}
# inserting the row into the database
x = collection.insert_one(row)

In [47]:
x.inserted_id

ObjectId('63ffa782af59c6b1d74f5e87')