In [1]:
import pymongo

In [2]:
# package which allows us to connect to mongodb
# create a connection with MongoClient which is running on my local machine and on port 27017
dbConn = pymongo.MongoClient("mongodb://localhost:27017")

In [3]:
dbName = 'demoDB'
db = dbConn[dbName]  # connecting to the database name demoDB which is present in mongoDB
# if the database is not locally present it automatically creates it

In [4]:
# showing the database names
dbConn.list_database_names() 
# the demoDB the has been created does not get shown here because if is empty and an empty does not count for anything until
# is put inside it. it is also nt shown in the mongodb compass

['admin', 'config', 'demoDB', 'local']

In [5]:
# checking if the database exist in mongoDB
dblist = dbConn.list_database_names()  # obtaining all the database names
dbName = 'demoDB'

if dbName in dblist:
    print("demoDB exist")
else:
    print("demoDB does not exist")

demoDB exist

## inserting data into the collection

In [6]:
collection_name = 'mongo_demo'
collection = db[collection_name]

In [7]:
# checking if the collection exist
collection_list = db.list_collection_names()
collection_name = 'mongo_demo'

if collection_name in collection_list:
    print('mongo_demo exist')
else:
    print('no collection the list')

mongo_demo exist

In [8]:
# inserting one row in the collection
# inserting key value pairs in the collection, in form of a dictonary, here one does not need to mentio on the type of the data
my_row = {
    'name' : 'evans',
    'class' : 7,
    'subject' : 'maths'
}

In [9]:
x = collection.insert_one(my_row) # insert record into the collection

In [10]:
 print(x.inserted_id)

63f9df3dc2e729c816816680

#### inserting many rows

In [11]:
my_rows = [
    {
    'name' : 'kezz',
    'class' : 5,
    'subject' : 'art and craft'},
    {
        'name' : 'lucy',
        'class' : 2,
        'subject' : 'music'
    },
    {
        'name' : 'njoro',
        'class' : 8,
        'subject' : 'mechanics'
    }
]

In [12]:
x = collection.insert_many(my_rows)
x

In [13]:
print(x.inserted_ids)

[ObjectId('63f9df3dc2e729c816816681'), ObjectId('63f9df3dc2e729c816816682'), ObjectId('63f9df3dc2e729c816816683')]

## selecting data from the database

In [14]:
result = collection.find({})
result

In [15]:
result[3]

{'_id': ObjectId('63f897e9fd7d616ca3a8288d'),
 'name': 'evans',
 'class': 7,
 'subject': 'maths'}

#### limit

In [16]:
results = collection.find({}).limit(3)
results

In [17]:
for result in results:
    print (result)

{'_id': ObjectId('63f8941dfd7d616ca3a82888'), 'name': 'evans', 'class': 7, 'subject': 'maths'}
{'_id': ObjectId('63f8941dfd7d616ca3a82889'), 'name': 'kezz', 'class': 5, 'subject': 'art and craft'}
{'_id': ObjectId('63f8941dfd7d616ca3a8288a'), 'name': 'lucy', 'class': 2, 'subject': 'music'}

#### retriving only some columns

In [18]:
results_some = collection.find({}, {'name', 'subject'})

In [19]:
for result in results_some:
    print(result)

{'_id': ObjectId('63f8941dfd7d616ca3a82888'), 'name': 'evans', 'subject': 'maths'}
{'_id': ObjectId('63f8941dfd7d616ca3a82889'), 'name': 'kezz', 'subject': 'art and craft'}
{'_id': ObjectId('63f8941dfd7d616ca3a8288a'), 'name': 'lucy', 'subject': 'music'}
{'_id': ObjectId('63f897e9fd7d616ca3a8288d'), 'name': 'evans', 'subject': 'maths'}
{'_id': ObjectId('63f897eafd7d616ca3a8288e'), 'name': 'kezz', 'subject': 'art and craft'}
{'_id': ObjectId('63f897eafd7d616ca3a8288f'), 'name': 'lucy', 'subject': 'music'}
{'_id': ObjectId('63f9df3dc2e729c816816680'), 'name': 'evans', 'subject': 'maths'}
{'_id': ObjectId('63f9df3dc2e729c816816681'), 'name': 'kezz', 'subject': 'art and craft'}
{'_id': ObjectId('63f9df3dc2e729c816816682'), 'name': 'lucy', 'subject': 'music'}
{'_id': ObjectId('63f9df3dc2e729c816816683'), 'name': 'njoro', 'subject': 'mechanics'}

In [20]:
query = {'name' : 'kezz'}
query_result = collection.find(query)    
query_result

In [21]:
for query in query_result:
    print(query)

{'_id': ObjectId('63f8941dfd7d616ca3a82889'), 'name': 'kezz', 'class': 5, 'subject': 'art and craft'}
{'_id': ObjectId('63f897eafd7d616ca3a8288e'), 'name': 'kezz', 'class': 5, 'subject': 'art and craft'}
{'_id': ObjectId('63f9df3dc2e729c816816681'), 'name': 'kezz', 'class': 5, 'subject': 'art and craft'}

In [22]:
query2 = {'class':8}
results = collection.find(query2)
results

In [23]:
for result in results:
    print(result)

{'_id': ObjectId('63f9df3dc2e729c816816683'), 'name': 'njoro', 'class': 8, 'subject': 'mechanics'}

In [24]:
## greater than
query3 = {'class' : {'$gt' : 6}}
results3 = collection.find(query3)
results3

In [25]:
for result in results3:
    print(result)

{'_id': ObjectId('63f8941dfd7d616ca3a82888'), 'name': 'evans', 'class': 7, 'subject': 'maths'}
{'_id': ObjectId('63f897e9fd7d616ca3a8288d'), 'name': 'evans', 'class': 7, 'subject': 'maths'}
{'_id': ObjectId('63f9df3dc2e729c816816680'), 'name': 'evans', 'class': 7, 'subject': 'maths'}
{'_id': ObjectId('63f9df3dc2e729c816816683'), 'name': 'njoro', 'class': 8, 'subject': 'mechanics'}

In [26]:
## less than 
query4 = {'class' : {'$lt' : 6}}
results4 = collection.find(query4)
for result in results4:
    print(result)

{'_id': ObjectId('63f8941dfd7d616ca3a82889'), 'name': 'kezz', 'class': 5, 'subject': 'art and craft'}
{'_id': ObjectId('63f8941dfd7d616ca3a8288a'), 'name': 'lucy', 'class': 2, 'subject': 'music'}
{'_id': ObjectId('63f897eafd7d616ca3a8288e'), 'name': 'kezz', 'class': 5, 'subject': 'art and craft'}
{'_id': ObjectId('63f897eafd7d616ca3a8288f'), 'name': 'lucy', 'class': 2, 'subject': 'music'}
{'_id': ObjectId('63f9df3dc2e729c816816681'), 'name': 'kezz', 'class': 5, 'subject': 'art and craft'}
{'_id': ObjectId('63f9df3dc2e729c816816682'), 'name': 'lucy', 'class': 2, 'subject': 'music'}

## sorting

In [27]:
# sort using the subject names in ascending order
results5 = collection.find({}).sort('subject')

In [28]:
for result in results5:
    print(result)

{'_id': ObjectId('63f8941dfd7d616ca3a82889'), 'name': 'kezz', 'class': 5, 'subject': 'art and craft'}
{'_id': ObjectId('63f897eafd7d616ca3a8288e'), 'name': 'kezz', 'class': 5, 'subject': 'art and craft'}
{'_id': ObjectId('63f9df3dc2e729c816816681'), 'name': 'kezz', 'class': 5, 'subject': 'art and craft'}
{'_id': ObjectId('63f8941dfd7d616ca3a82888'), 'name': 'evans', 'class': 7, 'subject': 'maths'}
{'_id': ObjectId('63f897e9fd7d616ca3a8288d'), 'name': 'evans', 'class': 7, 'subject': 'maths'}
{'_id': ObjectId('63f9df3dc2e729c816816680'), 'name': 'evans', 'class': 7, 'subject': 'maths'}
{'_id': ObjectId('63f9df3dc2e729c816816683'), 'name': 'njoro', 'class': 8, 'subject': 'mechanics'}
{'_id': ObjectId('63f8941dfd7d616ca3a8288a'), 'name': 'lucy', 'class': 2, 'subject': 'music'}
{'_id': ObjectId('63f897eafd7d616ca3a8288f'), 'name': 'lucy', 'class': 2, 'subject': 'music'}
{'_id': ObjectId('63f9df3dc2e729c816816682'), 'name': 'lucy', 'class': 2, 'subject': 'music'}

In [29]:
# sorting the classes in descending order
results6 = collection.find({}, {'class', 'subject'}).sort('class', -1)
for result in results6:
    print(result)

{'_id': ObjectId('63f9df3dc2e729c816816683'), 'class': 8, 'subject': 'mechanics'}
{'_id': ObjectId('63f8941dfd7d616ca3a82888'), 'class': 7, 'subject': 'maths'}
{'_id': ObjectId('63f897e9fd7d616ca3a8288d'), 'class': 7, 'subject': 'maths'}
{'_id': ObjectId('63f9df3dc2e729c816816680'), 'class': 7, 'subject': 'maths'}
{'_id': ObjectId('63f8941dfd7d616ca3a82889'), 'class': 5, 'subject': 'art and craft'}
{'_id': ObjectId('63f897eafd7d616ca3a8288e'), 'class': 5, 'subject': 'art and craft'}
{'_id': ObjectId('63f9df3dc2e729c816816681'), 'class': 5, 'subject': 'art and craft'}
{'_id': ObjectId('63f8941dfd7d616ca3a8288a'), 'class': 2, 'subject': 'music'}
{'_id': ObjectId('63f897eafd7d616ca3a8288f'), 'class': 2, 'subject': 'music'}
{'_id': ObjectId('63f9df3dc2e729c816816682'), 'class': 2, 'subject': 'music'}

## deleting

In [30]:
# deleting from one row
query7 = {'name' : 'njoro'}
x = collection.delete_one(query7)

In [31]:
x.deleted_count

1

In [32]:
# deleting from multiple rows
#query8 = {'class' : 7}
#x = collection.delete_many(query8)

In [33]:
x.deleted_count

1

In [34]:
# deleting all the rows in the collection
#collection.delete_many({})

In [35]:
# creating another collection
collection2 = db['test_collection']

# inserting data into the collection
rows = [
    {
        'kenya' : 'nairobi',
        'usa' : 'mexico',
        'rwanda' : 'kigali'
    }
]

collection2.insert_many(rows)

In [37]:
# dropping the test collection
collection_to_drop = db['test_collection']
collection_to_drop.drop()

## update

In [38]:
value_to_be_updated = {'class' : 7}
new_value = {'$set' : {'class' : 3}}
x = collection.update_many(value_to_be_updated, new_value)

In [39]:
print(x.modified_count)

3

In [40]:
# updating one row
update_criteria = {'name' : 'evans'}
new_value = {'$set' : {'name' : "njoroge"}}
x = collection.update_one(update_criteria, new_value)

In [41]:
print(x.modified_count)

1