In [3]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age":30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age":38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

type(obj)

str

In [4]:
# importing a json file so as to convert the obj string to a dictonary
import json
results = json.loads(obj)

In [5]:
type(results)

dict

In [23]:
# convering the dictonary back to the string
asjson = json.dumps(results)

In [24]:
type(asjson)

str

In [25]:
# selecting one key in the converted dictonary
results['siblings']

[{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
 {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [28]:
# coverting the this key to a dataframe because it contains a list of dictonaries
import pandas as pd
pd.DataFrame(results['siblings'], columns=['name', 'age', "pets"])

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]