In [2]:
import mysql.connector as connection

In [3]:
try:
    mydb = connection.connect(host='localhost', user='root', password='kyleEvans', use_pure=True)
    # checking if the connection is establibshed
    print(mydb.is_connected())  # it returns a true or false, true if it is connected and vice versa
    
    
    query = "SHOW DATABASES"
    
    # To execute any type of queries a cursor has to created,  a cursor is simply a pointer
    cursor = mydb.cursor()
    cursor.execute(query)
    
    # try to fetch all the responses from the query 
    print(cursor.fetchall())
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
[('information_schema',), ('mysql',), ('performance_schema',), ('sys',), ('users',)]

## creating a database

In [4]:
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost', user='root', password='kyleEvans', use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    
    query = "create database users"
    
    cursor = mydb.cursor()  # create a cursor to execute the query
    cursor.execute(query)
    print("Database users created")
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1007 (HY000): Can't create database 'users'; database exists

## creating a table in a database

In [5]:
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost', database='users', user='root', password='kyleEvans', use_pure=True)
    # checking whether the connection is established
    mydb.is_connected()
    
    # query to create a table
    query = "CREATE TABLE userDetails(userId INT(10) AUTO_INCREMENT PRIMARY KEY, FirstName VARCHAR(50), LastName VARCHAR(50),"\
    "RegistrationDate DATE, class VARCHAR(20), section VARCHAR(20))"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Table created")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

1050 (42S01): Table 'userdetails' already exists

## inserting the values into the table

In [6]:
import mysql.connector as connection

try: 
    mydb = connection.connect(host='localhost', database='users', user='root', password='kyleEvans', use_pure = True)
    # checking if the connection is established
    print(mydb.is_connected())
    
    # query to insert the data into the table
    query = "insert into userDetails values('4','Evans', 'kiarie', '2019-09-02', 'first', 'A')"
    
    # create the cursor to execute the queries
    cursor = mydb.cursor()
    cursor.execute(query)
    print("data has been inserted into the userDetails table")
    mydb.commit()
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1062 (23000): Duplicate entry '4' for key 'userdetails.PRIMARY'

In [7]:
import mysql.connector as connection

try: 
    mydb = connection.connect(host='localhost', database='users', user='root', password='kyleEvans', use_pure = True)
    # checking if the connection is established
    print(mydb.is_connected())
    
    # query to insert the data into the table
    query = "insert into userDetails values(3, 'kezz', 'Njoroge', '2013-01-23' ,'third', 'c')"
    
    # create the cursor to execute the queries
    cursor = mydb.cursor()
    cursor.execute(query)
    print("data has been inserted into the userDetails table")
    mydb.commit()
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1062 (23000): Duplicate entry '3' for key 'userdetails.PRIMARY'

## updating a record

In [8]:
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost', database='users', user='root', password='kyleEvans', use_pure=True)
    # check if the connection is established
    mydb.is_connected()
    
    # query for updating
    query = "UPDATE userDetails SET FirstName='Njoroge', LastName='Dedan', RegistrationDate='1977-12-27' WHERE userId=4"
    
    # cursor to excute the query
    cursor = mydb.cursor()
    cursor.execute(query)
    print("your data has been updated!!")
    mydb.commit()
    
    # checking if the value has been updated
    query2 = "SELECT * FROM userDetails"
    # cursor to excute the query
    cursor = mydb.cursor()
    cursor.execute(query2)
    
    for result in cursor.fetchall():
        print(result)
    
    mydb.close() # closing the connection
except Exception as e:
    mydb.close()
    print(str(e))

your data has been updated!!
(1, 'Evans', 'kiarie', datetime.date(2019, 9, 2), 'first', 'A')
(2, 'Lucy', 'Njoroge', datetime.date(2022, 12, 23), 'second', 'B')
(3, 'kezz', 'Njoroge', datetime.date(2013, 1, 23), 'third', 'c')
(4, 'Njoroge', 'Dedan', datetime.date(1977, 12, 27), 'first', 'A')

## inserting data into mysql from  text document

In [206]:
import seaborn as sns
import pandas as pd
titanic = sns.load_dataset('titanic')
titanic.to_csv("titanic2.txt", sep=',', na_rep='null', header=None, index=False)

In [207]:
titanic.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [212]:
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost', user='root', password='kyleEvans', use_pure=True)
    # checking if the database is connected
    mydb.is_connected()
    
    # query to create a database
    query = "CREATE DATABASE titanic"
    
    # cursor to execute the query
    cursor = mydb.cursor()
    cursor.execute(query)
    print("database created")
    
    # creating a table titanic_dataset
    query2 = "CREATE TABLE IF NOT EXIST titanic_dataset('survived INT(10)','pclass INT(10)','sex VARCHAR(20)','age FLOAT(20)','sibsp INT(10)',"\
    "'parch INT(10)','fare FLOAT(20)','embarked VARCHAR(30)','class VARCHAR(30)','who VARCHAR(30)','adult_male VARCHAR(30)','deck VARCHAR(30)',"\
    "'embark_town VARCHAR(30)','alive VARCHAR(30)','alone VARCHAR(30)')"
    
    # cursor to excute the query2
    cursor = mydb.cursor()
    cursor.execute(query2)
    print("Table has been created")
    
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

1007 (HY000): Can't create database 'titanic'; database exists

In [219]:
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost', database='titanic', user='root', password='kyleEvans', use_pure=True)
    # checking if the database is connected
    mydb.is_connected()
    
    # creating a table titanic_dataset
    query2 = "CREATE TABLE IF NOT EXISTS titanicDataset(survived INT(10), pclass INT(10), sex VARCHAR(20), age FLOAT(20),"\
    "sibsp INT(10), parch INT(10), fare FLOAT(20), embarked VARCHAR(30), class VARCHAR(30), who VARCHAR(30),"\
    "adult_male VARCHAR(30), deck VARCHAR(30), embark_town VARCHAR(30), alive VARCHAR(30), alone VARCHAR(30))"
    
    # cursor to excute the query2
    cursor = mydb.cursor()
    cursor.execute(query2)
    print("Table has been created")
    
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

Table has been created

In [263]:
import mysql.connector as connection
import csv

try:
    mydb = connection.connect(host='localhost', user='root', password='kyleEvans', use_pure=True)
    # checking if the database is connected
    mydb.is_connected()
    
    cursor = mydb.cursor()
    # read from the file
    with open('titanic2.txt') as file:
        next(file)
        titanic_data = csv.reader("titanic2.txt", delimiter='\n')
        for line in enumerate(titanic_data):
            for list_ in (line[1]):
                cursor.execute("INSERT INTO titanicDataset VALUES({values})").format(values=(list_))
    
    print("Values have beein inserted!!")        
    mydb.commit()
    cursor.close()
    
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'values})' at line 1

In [269]:
import mysql.connector as connection
import pandas as pd
import csv

try:
    mydb = connection.connect(host='localhost', user='root', password='kyleEvans', use_pure=True)
    cursor = mydb.cursor()
    
    # read from the file
    with open('titanic2.txt') as file:
        next(file)
        titanic_data = csv.reader("titanic2.txt", delimiter='\n')
        for line in enumerate(titanic_data):
            for list_ in (line[1]):
                # cursor.execute("INSERT INTO titanicDaset VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", tuple(list_))
                cursor.execute("INSERT INTO titanicDataset VALUES({values})").format(values=(list_))
                print("Values have been inserted!!")
                mydb.commit()
    
    cursor.close()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'values})' at line 1

## dumping the iris data into mysql database

In [ ]:
import mysql.connector as connection
import csv

try:
    mydb = connection.connect(host='localhost', user='root', password='kyleEvans', use_pure=True)
    # checking if the database is connected
    mydb.is_connected()
    
    # query to create a database
    query = "CREATE DATABASE iris"
    
    # cursor to execute the query
    cursor = mydb.cursor()
    cursor.execute(query)
    print("iris database created")
    
    # creating a table titanic_dataset
    query2 = "CREATE TABLE IF NOT EXISTS titanicDataset()"
    
    # cursor to excute the query2
    cursor = mydb.cursor()
    cursor.execute(query2)
    print("Table has been created")
    
    # read from the file
    with open('titanic2.txt') as file:
        next(file)
        titanic_data = csv.reader("titanic2.txt", delimiter='\n')
        for line in enumerate(titanic_data):
            for list_ in (line[1]):
                cursor.execute("INSERT INTO titanicDataset VALUES({values})").format(values=(list_))
    
    print("Values have beein inserted!!")        
    mydb.commit()
    cursor.close()
    
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))