### converting  list, array, dictonary, and labels into a dataframe

In [1]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
d = {'a':1, 'b':2, 'c':3}

In [4]:
# to convert to a series one needs to use the function pd.Series
import pandas as pd

label_series = pd.Series(labels)
label_series

0    a
1    b
2    c
dtype: object

In [6]:
# list to a series
pd.Series(my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
# dictonary to a series
pd.Series(d)

a    1
b    2
c    3
dtype: int64

In [15]:
d_series = pd.Series(d, index= labels)
d_series

a    1
b    2
c    3
dtype: int64

In [13]:
pd.DataFrame(d_series)

   0
a  1
b  2
c  3

In [18]:
# concatenato of series
ser1 = pd.Series([2,3,4,5], index=['b','a','c','d'])
ser2 = pd.Series([5,6,3,2], index=['n', 'a', 'c','d'])
ser3 = ser1 + ser2
ser3

a    9.0
b    NaN
c    7.0
d    7.0
n    NaN
dtype: float64