In [7]:
import pandas as pd
path = 'C:\\Users\\charles\\Desktop\\Jupiter\\tutorial_py\\pandas\\Book1.csv'
frame = pd.read_csv(path)
frame

   key1 key2  value1  value2
0  one     a       3       7
1   one    b       5      45
2   one    c      63      32
3   one    d       2       4
4   two    a       4       5
5   two    b       6       2
6   two    c       4       7
7   two    d       2       4

In [8]:
# converting this df to pickle
frame.to_pickle("frame_pickle")

In [9]:
pwd

'C:\\Users\\charles\\Desktop\\Jupiter\\tutorial_py\\pandas\\codes'

In [10]:
# reading the binary file
path = 'C:\\Users\\charles\\Desktop\\Jupiter\\tutorial_py\\pandas\\codes\\frame_pickle'
pd.read_pickle(path)

   key1 key2  value1  value2
0  one     a       3       7
1   one    b       5      45
2   one    c      63      32
3   one    d       2       4
4   two    a       4       5
5   two    b       6       2
6   two    c       4       7
7   two    d       2       4

## .h5

In [17]:
import pandas as pd
import numpy as np

frame = pd.DataFrame({'a': np.random.randn(100)})  # creating a dictonary with a column name as 'a'
frame

           a
0   0.335730
1   0.554616
2  -0.179453
3   1.407197
4   0.937023
..       ...
95 -0.472923
96  0.404819
97 -0.686563
98  2.121360
99  0.573612

[100 rows x 1 columns]

In [19]:
store = pd.HDFStore('mydata.h5')  # converting the data into a binary format of .h5
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [22]:
store['obj1'] = frame

In [23]:
store['obj1_col'] = frame['a']

In [24]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [25]:
store['obj1']

           a
0   0.335730
1   0.554616
2  -0.179453
3   1.407197
4   0.937023
..       ...
95 -0.472923
96  0.404819
97 -0.686563
98  2.121360
99  0.573612

[100 rows x 1 columns]