In [30]:
# converting dictonary to a json format
import json
data_1 = {
    "name": "John",
    "age": 30,
    "city": "Nairobi"
}

# saving the data to the json file
with open("jason_1.json", "w") as file:
    json.dump(data_1, file)

In [31]:
import json
data_2 = [{"a": 1, "b": 3, "c": 3},
         {"a": 4, "b": 5, "c": 6},
         {"a": 7, "b": 8, "c": 9}]

with open("json_2.json", "w") as file:
    json.dump(data_2, file)

In [3]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age":30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age":38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

type(obj)

str

In [4]:
# importing a json file so as to convert the obj string to a dictonary
import json
results = json.loads(obj)

In [5]:
type(results)

dict

In [23]:
# convering the dictonary back to the string
asjson = json.dumps(results)

In [24]:
type(asjson)

str

In [25]:
# selecting one key in the converted dictonary
results['siblings']

[{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
 {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [34]:
# coverting the this key to a dataframe because it contains a list of dictonaries
import pandas as pd
data_3 = pd.DataFrame(results['siblings'], columns=['name', 'age', "pets"])
data_3

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [38]:
data_3.to_json('C:/Users/charles/Desktop/Jupiter/tutorial_py/pandas/json3.json',orient='records')

## reading a json file

In [32]:
import pandas as pd
df = pd.read_json('C:\\Users\\charles\\Desktop\\Jupiter\\tutorial_py\\pandas\\codes\\json_2.json',)
df

   a  b  c
0  1  3  3
1  4  5  6
2  7  8  9